@charset "utf-8";
/*! destyle.css v4.0.1 | MIT License | https://github.com/nicolas-cusan/destyle.css */

/* Reset box-model and set borders */
/* ============================================ */

*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
  min-width: 0;
}

/* Document */
/* ============================================ */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
  font-family: "Noto Sans JP", sans-serif;
  color: #000;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */

p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */

/**
 * Prevent vertical alignment issues.
 */

svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */

/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */

button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Correct cursors for clickable elements.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
}

button:disabled,
[type="button"]:disabled,
[type="reset"]:disabled,
[type="submit"]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */

:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */

option {
  padding: 0;
}

/**
 * Reset to invisible
 */

fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the outline style in Safari.
 */

[type="search"] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Fix appearance for Firefox
 */
[type="number"] {
  -moz-appearance: textfield;
}

/**
 * Clickable labels
 */

label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */

[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */

/**
1. Correct table border color inheritance in all Chrome and Safari.
*/

table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}


/****************************************************************************************
ここからヘッダーのスタイル
***************************************************************************************/

header {
  background-color: #50D6E1;

}
.header-content {
  display: grid;
  grid-template-columns: 1fr 117px 77px;
  column-gap: 5px;
  position: relative;
}

.header-logo {
  padding-right: 9px;
  padding-top: 7px
}

.header-logo img {
  width: 100%;
  max-width: 300px;
}

.language-swithcher {
  text-align: center;
  margin-top: 4px;
  position: relative;
}

.language-swithcher.-is-open ul {
  display: block;
}

.language-label {
  line-height: 1.4;
  font-size: 16px;
  font-weight: 700;
  background-color: #fff;
  padding: 4px 25px 4px 10px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="13" height="11" viewBox="0 0 13 11"><path d="M6.5,0,13,11H0Z" transform="translate(13 11) rotate(180)" fill="%23bfbaba"/></svg>');
  background-repeat: no-repeat;
  background-position: right 8px center;
}

.language-swithcher ul {
  border: 1px solid #707070;
  border-bottom: none;
  position: absolute;
  z-index: 5;
  top: 30px;
  left: 0;
  width: 100%;
  display: none;
}

.language-swithcher li {
  border-bottom: 1px solid #707070;
  background-color: #fff;
  font-size: 16px;
  font-weight: 700;
}

.language-swithcher li a {
  display: block;
  padding: 4px 10px 4px 10px;
}

.menu-icon img {
  width: 100%;
}

.header-nav.-is-open ul {
  display: block;
}

.header-nav ul {
  background-color: #fff;
  width: 100%;
  position: absolute;
  z-index: 6;
  top: 66px;
  left: 0;
  border: 1px solid #707070;
  border-bottom: none;
  text-align: center;
  display: none;
}

.header-nav li {
  border-bottom:1px solid #707070;
  font-size: 24px;
  font-weight: 700;
}

.header-nav li a {
  display: block;
  padding: 32px 5px;
}

/*ここからヘッダーPC*/

@media screen and (min-width: 1640px) {
  .header-content {
    display: grid;
    grid-template-columns: 1fr 300px;
    column-gap: 5px;
    position: relative;
  }

  .header-logo {
    padding: 4px 0px 4px 0px;
  }

  .header-logo img {
    max-width: 450px;
  }

  .language-swithcher {
    margin-top: 0px;
  }

  .language-label{
    font-size: 24px;
    padding: 20px 0px 0px 0px;
    background-position: right 37px center;
    cursor: pointer;
    background-size: 31px 27px;
    height: 76px;
    border: 1px solid #707070;
  }

  .language-swithcher ul {
    top: 75px;
  }

  .language-swithcher li {
    font-size: 24px;
  }

  .language-swithcher li a {
    padding: 34px 10px 34px 10px;
  }
  
  .language-swithcher li a:hover {
    opacity: 0.5;
  }

  .menu-icon {
    display: none;
  }

  .header-nav ul {
    width: auto;
    display: flex;
    justify-content: right;
    top: 0px;
    left: auto;
    right: 299px;
    height: 76px;
  }

  .header-nav li {
    border-left: 1px solid #707070;
  }

  .header-nav li:first-child {
    border-left: none;
  }

  .header-nav li a {
    padding: 20px 10px 0px;
    height: 100%;
  }
  .header-nav li a:hover {
    opacity: 0.5;
  }
}

/****************************************************************************************
ここからフッターのスタイル
***************************************************************************************/

footer {
  background-color: #F2E300;
  margin-top: 160px;
}

.footer-content {
  position: relative;
  padding-top: 16px;
}

.footer-nav ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* margin: 0 auto; */
  column-gap: 8px;
  row-gap: 8px;
  padding: 0 18px;
}

.footer-nav ul li {
  font-size: 12px;
  font-weight: 700;
  background-image: url(/../images/common/asset1.png);
  background-repeat: no-repeat;
  background-size: 18px;
  line-height: 1.6;
  padding-left: 18px;
}

.footer-nav ul li.icon1 {
  background-image: url(/../images/common/asset1.png);
}

.footer-nav ul li.icon2 {
  background-image: url(/../images/common/asset2.png);
}

.footer-nav ul li.icon3 {
  background-image: url(/../images/common/asset3.png);
}

.footer-nav ul li.icon4 {
  background-image: url(/../images/common/asset4.png);
}

.footer-nav ul li.icon5 {
  background-image: url(/../images/common/asset5.png);
}

.footer-nav ul li.icon6 {
  background-image: url(/../images/common/asset6.png);
}

.footer-speech{
  position: absolute;
  bottom: 0;
  right: 18px;
  width: 85px;
}

.footer-speech img {
  width: 100%;
}

.footer-copyright {
  text-align: center;
  font-size: 10px;
  margin-top: 36px;
  padding-bottom: 8px;
}

/*ここからフッターPC*/
@media screen and (min-width: 768px) {

  footer {
    margin-top: 400px;
  }

  .footer-content {
    padding-top: 35px;
    max-width: 1100px;
    margin: 0 auto;
    padding-bottom: 24px;
  }

  .footer-nav ul {
    display: block;
    margin: 0 0 0 auto;
    width: 340px;
  }

  .footer-nav ul li {
    font-size: 24px;
    background-size: 55px;
    padding: 9px 0px 9px 55px;
  }

  .footer-nav ul li a:hover{
    opacity: 0.5;
  }

  .footer-speech{
    bottom: 59px;
    left: 0px;
    width: 61.3vw;
  }

  .footer-copyright {
    font-size: 24px;
    margin-top: 36px;
    padding-bottom: 8px;
  }

} 
@media screen and (min-width: 840px) {
  .footer-speech{
    width: 515px;
  }
}


/****************************************************************************************
ここからメイン共通のスタイル
***************************************************************************************/

main img {
  width: 100%;
}

main iframe {
  width: 100%;
}

.contents-box {
  background-color: #F2E300;
  border-radius: 40px;
  position: relative;
  margin:80px 10px 80px;
  padding-bottom: 16px;
}

@media screen and (min-width: 768px) {/* PCの記述 */
  .contents-box {
    border-radius: 80px;
    margin: 200px auto;
    max-width: 1200px;
  }
}

/****************************************************************************************
ここからメイン　一番上のコンテンツのスタイル
***************************************************************************************/

.pt-lead {
  font-size: 14px;
  font-weight: 700;
  padding: 24px 17.5px 0px;
  text-align: center;
  margin-bottom: 24px;
}

.pt-lead span {
  font-size: 24px;
  color: #F13F24;
}

.pt-text-lead {
  padding:0px 17.5px 40px;
}

@media screen and (min-width: 768px) {/* PCの記述 */
  .pt-lead {
    font-size: 40px;
    padding: 80px 50px 0px;
    margin-bottom: 36px;
  }

  .pt-lead span {
    font-size: 60px;
  }

  .pt-text-lead {
    padding:0px 50px 80px;
  }
}

/****************************************************************************************
ここからコンテンツタイトルのスタイル
***************************************************************************************/

.pt-title {
  font-size: 24px;
  font-family: "ab-kirigirisu", sans-serif;
  font-weight: 400;
  font-style: normal;
  color:#F13F24;
  padding: 40px 0px 0px;
  margin-bottom: 40px;
  text-align: center;
}

@media screen and (min-width: 768px) {/* PCの記述 */
  
  .pt-title {
    font-size: 56px;
    padding: 80px 0px 0px;
    margin-bottom: 80px;
  }
}

/****************************************************************************************
ここからコンテンツのアイコンのスタイル
***************************************************************************************/

.pt-icon {
  width: 80px;
  position: absolute;
  top: -40px;
  right: 0px;
}
@media screen and (min-width: 768px) {/* PCの記述 */
  
  .pt-icon {
    width: 200px;
    top: -100px;
  }
}
/****************************************************************************************
ここからテキストボックスとテキストのスタイル
***************************************************************************************/

.pt-textbox {
  margin: 32px 17.5px 24px;
}

.pt-text {
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  
  .pt-textbox {
    margin: 56px 50px 24px;
  }

  .pt-text {
    font-size: 24px;
  }
}

/****************************************************************************************
ここからスライダー付きの画像のスタイル
***************************************************************************************/

.pt-slider-images {
  padding:0px 17.5px;
}

@media screen and (min-width: 768px) {/* PCの記述 */
  
  .pt-slider-images {
    padding:0px 50px;
  }
}

/****************************************************************************************
ここからリンク付きボタン（汎用）のスタイル
***************************************************************************************/

.pt-linkbutton {
  text-align: center;
  margin: 24px 0px;
}

.pt-linkbutton a {
  display: inline-block;
  background-color: #fff;
  border: 1px solid #F13F24;
  border-radius: 40px;
  padding: 12px 14px;
  color: #F13F24;
  font-weight: 700;
  box-shadow: 2px 3px 0px 0px #F13F24;
  text-align: center;
}

.pt-linkbutton a span {
  display: block;
  padding-right: 30px;
  position: relative;
  word-break: break-all;
}

.pt-linkbutton a span::after {
  content: "＞";
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0px, -50%);
}

@media screen and (min-width: 768px) {/* PCの記述 */
  
  .pt-linkbutton {
    font-size: 20px;
    margin: 40px 0px 80px;
  }

  .pt-linkbutton a {
    padding: 20px 20px;
  }

  .pt-linkbutton a:hover {
    box-shadow: none;
    background-color: #F13F24;
    color: #fff;
  }

  .pt-linkbutton a span {
    padding-right: 44px;
  }
}

/****************************************************************************************
ここからWi-Fiの画像のスタイル
***************************************************************************************/
.pt-wifiimage {
  padding: 0px 17.5px;
}
@media screen and (min-width: 768px) {

  .pt-wifiimage {
    padding: 0px 50px;
  }
}
/****************************************************************************************
ここからリンクボタン（osakawifi固有のボタン)のスタイル
***************************************************************************************/

.pt-linkbutton2 {
  padding: 0 17.5px;
  margin:24px 0px;
  text-align: left;
}

.pt-linkbutton2 a {
  display: block;
  background-color: #fff;
  border: 1px solid #F13F24;
  border-radius: 20px;
  padding: 12px 14px;
  color: #F13F24;
  font-weight: 700;
  width: 100%;
  box-shadow: 2px 3px 0px 0px #F13F24;
}

.pt-linkbutton2 a span {
  display: block;
  padding-right: 30px;
  position: relative;
  word-break: break-all;
}

.pt-linkbutton2.-icon-wifi a span::after {
  display: block;
  content: "";
  width: 30px;
  height: 24px;
  background-image: url(/images/top/wifi.svg);
  background-repeat: no-repeat;
  background-size: 30px 24px;
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translate(0px, -50%);
}

.pt-linkbutton2.-icon-search a span::after {
  display: block;
  content: "";
  width: 30px;
  height: 30px;
  background-image: url(/images/top/search.svg);
  background-repeat: no-repeat;
  background-size: 30px 30px;
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translate(0px, -50%);
}

@media screen and (min-width: 768px) {/* PCの記述 */

  .pt-buttonbox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    margin: 0px 50px;
  }

  .pt-linkbutton2 {
    padding: 0px;
    margin: 80px 0px;
    font-size: 24px;
  }

  .pt-linkbutton2 a {
    border-radius: 40px;
    padding: 24px 28px;
  }

    .pt-linkbutton2 a:hover {
    box-shadow: none;
    background-color: #F13F24;
    color: #fff;
  }

  .pt-linkbutton2 a span {
    padding-right: 30px;
  }

  .pt-linkbutton2.-icon-wifi a span::after {
    width: 56px;
    height: 45px;
    background-size: 56px 45px;
  }

  .pt-linkbutton2.-icon-search a span::after {
    width: 56px;
    height: 56px;
    background-size: 56px 56px;
  }
}

/*1100px以下でのbutton2の設定*/
  
@media screen and (max-width: 1100px) {/* 1100px以下*/

    .pt-buttonbox {
      display: block;
      margin: 0px 0px 80px;
      padding: 0 50px;
    }

    .pt-linkbutton2 {
      margin: 24px 0px;
    }

    .pt-linkbutton2 a {
      border-radius: 30px;
    }

  }

/****************************************************************************************
ここからoficialとfacebook部分固有のスタイル
***************************************************************************************/

.pt-image-official {
  padding: 0px 17.5px;
}

.pt-facebook-image {
  margin-top: 24px;
}

.pt-image-facebook {
  padding: 0px 17.5px;
}

@media screen and (min-width: 768px) {

  .pt-officialbox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 100px;
    margin: 0 100px;
  }

    .pt-image-official {
    padding: 27px 30px 0px;
    background-color: #fff;
  }

    .pt-facebook-image {
    margin-top: 0px;
  }
  
    .pt-image-facebook {
    padding: 27px 30px 0px;
    background-color: #fff;
  }
}

/****************************************************************************************
ここからリンクボタン（oficial固有のボタン)のスタイル
***************************************************************************************/

.pt-official-image .pt-linkbutton {
  margin: 0px 17.5px;
  padding: 8px 0px;
  background-color: #fff;
}
.pt-facebook-image .pt-linkbutton {
  margin: 0px 17.5px;
  padding: 8px 0px;
  background-color: #fff;
}

@media screen and (min-width: 768px) {

  .pt-official-image .pt-linkbutton {
    margin: 0px 0px 0px;
    padding: 16px 0px;
  }

  .pt-facebook-image .pt-linkbutton {
    margin: 0px 0px 0px;
    padding: 16px 0px;
  }
}

/*1150px以下での公式リンクおよびfacebookの設定*/

@media screen and (min-width: 768px) {

  @media screen and (max-width: 1150px) {

    .pt-officialbox {
      column-gap: 40px;
      margin: 0 40px;
    }

    .pt-official-image .pt-linkbutton a span {
      padding-right: 36px;
      font-size: 16px;
    }

    .pt-facebook-image .pt-linkbutton a span {
      padding-right: 36px;
      font-size: 16px;
    }
    
    .pt-linkbutton a {
      padding: 16px 20px;
    }
  }
}

/****************************************************************************************
ここからラインスタンプのスタイル
***************************************************************************************/
.pt-line-stamp {
  margin: 40px 17.5px 0px;
  padding-bottom: 40px;
}

@media screen and (min-width: 768px) {

  .pt-line-stamp {
    margin: 80px 100px 0px;
    padding-bottom: 80px;
  }
}

/****************************************************************************************
ここからタイトルのパーツのスタイル
***************************************************************************************/

.big-title {
  font-size: 40px;
  font-family: "ab-kirigirisu", sans-serif;
  margin: 120px auto;
  color: #F13F24;
  text-align: center;
}

@media screen and (min-width: 768px){/* PCの記述　*/

}
/****************************************************************************************
ここからパンくずリストのパーツのスタイル
***************************************************************************************/

.pt-breadcrumb {
  margin: 0;
  font-size: 12px;
}

.pt-breadcrumb ol {
  padding-left: 16px;
}

.pt-breadcrumb ol li {
  display: inline-block;
}

.pt-breadcrumb ol li::after {
  content: ">";
  padding: 0px 8px;
}

.pt-breadcrumb ol li:last-child::after {
  content: none;
}

@media screen and (min-width: 768px){/* PCの記述　*/

}

/****************************************************************************************
ここから付与するクラスのスタイル
***************************************************************************************/

.-bold {
  font-weight: 700;
}

.-small a {
  padding: 8px 8px;
  font-size: 12px;
    box-shadow: 1px 1px 0px 0px #F13F24;

}

.-small a span {
  padding-right: 20px;
  position: relative;
}

.-small a span::after {
  content: "＞";
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0px, -50%);
}

/****************************************************************************************
ここからあきないグランプリのスタイル
***************************************************************************************/

.pt-akinaigp-image {
  padding: 17.5px;
}

@media screen and (min-width: 768px){/* PCの記述　*/

}

.pt-awardyear {
  text-align: center;
  margin: 40px 0px 16px;
}

.pt-akinaigp-box {
  margin: 0px 0px 40px;
}

.pt-akinaigp-title {
  text-align: center;
  margin: 40px 0px 32px;
  font-weight: 700;
  padding:0px 17.5px;
}

.pt-gp-image {
  padding:0px 17.5px 8px;
}

.pt-shop-location {
  padding: 0px 17.5px 8px;
  text-align: center;
  font-size: 10px;
  font-weight: 700;
}

.pt-shop-name {
  text-align: center;
  font-weight: 700;
}

.pt-shop-link {
  text-align: right;
  font-size: 14px;
  padding: 0px 17.5px;
}

@media screen and (min-width: 768px){/* PCの記述　*/

}

